<div class= "main row text-white bg-info col-md-12" >
    <div class="col-md-6">               
        <div class="form-group">
            <h3 id="h1s"> Codigo De Entrada </h3>
            <button type="button"  class="btn btn-outline-danger" >Limpiar</button>
            <form>
                <textarea  type="text" class="form-control rounded-0"  rows="15" id="txtA1" name="txtA1"></textarea>
            </form>
            
        </div>
        <div class="">
            <form>
                <button type="button"  class="btn btn-secondary" >Analizar</button>
                <button type="button" class="btn btn-secondary" >Tabla De Simbolos</button>
                <button type="button" class="btn btn-secondary" >Graficar AST</button>
                <button type="button" class="btn btn-secondary" >Reporte De Errores</button>
            </form>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h3> Terminal </h3>
            <button type="button"  class="btn btn-outline-danger" >Limpiar</button>
            <textarea class="form-control rounded-0"  rows="15" type="text" id="txtA2"></textarea>
        </div>
    </div>
</div>